<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
   <!-- 常量引用 -->
    <properties>
        <!-- <property name="LOG_HOME">/home/log</property> -->
        <property name="LOG_HOME">E:/log</property>
        <property name="FORMAT">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level >>> %logger{36} - %msg%n</property>
    </properties>


    <Appenders>
    <!-- 常见的输出到console,常用于开发环境中,默认是system_err,还有一个system_out -->
        <Console name="Console" target="SYSTEM_OUT">
            <patternLayout pattern="${FORMAT}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="org.hibernate.type.descriptor.sql" level="trace"
            additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>